body {
    background-image: url(https://i.imgur.com/DS40yfd.jpg);
    font-size: 16px;
}

.form-checkbox-wrapper {
    display: block;
    margin: 5px 0;
}

.product-wrapper {
    padding: 10px 20px 50px;
    border: solid;
    text-align: center;
    min-height: 230px;;
}

.user-wrapper {
    padding: 10px 50px 50px;
}

.browse-businesses {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.product {
    margin-top: 30px;
    position: relative;
}

.published {
    text-align: left;
    position: relative;
    bottom: -50px;
    font-size: 14px;
}

.align-center {
    text-align: center;
}

.created-account {
    margin-bottom: 0;
}

.show-product-title {
    clear: both;
    margin-bottom: 30px;
}

.show-edit-button {
    text-align: right;
    position: relative;
    float: right;
    font-size: 1.3rem;
    top: -30px;
    right: 5px;
}

.show-delete-button {
    text-align: right;
    position: relative;
    float: right;
    bottom: -50px;
    right: 5px;
    font-size: 1.3rem;
    z-index: 1;
}

.grid {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 2vw;
    padding: 25px;
}

.grid-form {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
}

@media (max-width: 900px) {
    .grid-form {
        grid-template-columns: 50px 1fr 50px;
    }
}

.form-title {
    text-align: center;
    margin-bottom: 65px;
}

.mborder {
    border: solid 0.5px;
    border-radius: 5px;
}

.form-switch {
    padding: 10px 20px;
}

.product-form-label {
    min-width: 15%;
    font-size: 1.3rem;
}

.product-form-input {
    width: 80%;
    display: inline-block;
    margin-right: 5px;
}

@media (max-width: 520px) {
    .product-form-input {
        margin-right: 0px;
    }
}

.form-delete-button {
    float: right;
    clear: both;
    margin-right: 2%;
    border: none;
    color: red;
}

.form-button {
    padding: 10px 20px;
    letter-spacing: 1.5px;
    background: none;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 50px;
}

.form-message {
    margin: 20px 0;
    border: solid black 0.5px;
    padding: 20px 20px;
    text-align: center;
    border-radius: 5px;
}

.form-message-alert {
    color: red;
}

@media (min-width: 1630px) {
    .product-wrapper {
        max-width: 900px;
        margin: auto;
        min-width: 500px
    }
}

.navbar {
    display: block;
}

.navbar-toggler {
    position: fixed;
    right: 20px;
    top: 10px;
}

.navbar-collapse {
    font-size: 1.4em;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}