{{ define "addProduct" }}

{{ template "header" }}

<div class="add-form-wrapper grid grid-form">
    <div class="hide"></div>
    <form role="form" method="POST" action="/product/save">
        <h2 class="form-title"> Adding Product </h2>

        {{ if eq (.Message) ("alreadyexists") }}
        <h3 class="form-message form-message-alert">
            You already have a product with that name, please choose another
        </h3>
        {{end}}


        <input type="hidden" name="id" value="{{.Id}}" />
        <div class="form-group">
            <label class="product-form-label">Title</label>
            <input type="text" class="form-control product-form-input" id="title" name="title" value="{{.Title}}" required/>
        </div>
        <div class="form-group">
            <label class="product-form-label">Type</label>
            <select class="form-control product-form-input" id="type" name="type" required>
                <option value="good" {{if eq .Type "good"}} selected="selected" {{end}}>Good</option>
                <option value="service" {{if eq .Type "service"}} selected="selected" {{end}}>Service</option>
                <option value="proposal" {{if eq .Type "proposal"}} selected="selected" {{end}}>Proposal</option>
            </select>
        </div>
        <div class="form-group">
            <label class="product-form-label">Price</label>
            <input type="number" class="form-control product-form-input" id="price" name="price" value="{{.Price}}" required/>$
        </div>
        <button type="submit" class="form-button mborder">Submit</button>
        {{ if .Id }}
        <a class="form-delete-button form-button" href="product/delete?id={{.Id}}" class="form-button mborder">Delete</a>
        {{ end }}
    </form>
</div>


{{ template "footer" }}

{{ end }}