{{ define "index" }}
<!--TO DO: Implement check if username is current user-->
{{ template "header" }}

<div class="grid">
    {{ range $key, $value := . }}
    <div class="product-wrapper">
        <div class="product">
            <h1 class="show-product-title"><a href="/product/show?id={{ $value.Id }}">{{ $value.Title }}</a></h1>
            <h2> Brand: {{ .Owner }}</h2>
            <h2> Price: {{ .Price }}$</h2>
            <h2> Type: {{ .Type }} </h2>
            <p class="published"> Published: {{ .CreatedAt}} </p>
        </div>
    </div>
    {{ end }}
</div>

{{ template "footer" }}

{{ end }}
