{{ define "register" }}

{{ template "header" }}

<div class="add-form-wrapper grid grid-form">
    <div class="hide"></div>
    <form role="form" method="POST" action="/signup">
        <h2 class="form-title"> Registration </h2>

        {{if eq (.Message) ("namealreadyexists") }}
            <h3 class="form-message form-message-alert">
                User with this name already exists! You have to choose another name
            </h3>
        {{else if eq (.Message) ("emailalreadyexists") }}
            <h3 class="form-message form-message-alert">
                User with this email already exists! You have to choose another email
            </h3>
        {{end}}

        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" id="username" name="username" value="{{.Username}}" required/>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{.Email}}" required/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="password" name="password" required/>
        </div>
        <div class="form-group">
            <label>Business Name</label>
            <input type="text" class="form-control" id="businessName" name="businessName" value="{{.BusinessName}}" required/>
        </div>
        <div class="form-group">
            <label>Age of Your Business</label>
            <input type="number" class="form-control" id="ageOfBusiness" name="ageOfBusiness" value="{{.AgeOfBusiness}}" required/>
        </div>
        <div class="form-group">
            <label>I am interested in businesses that exist:</label>
            <input type="checkbox" class="form-control" id="AoBInterest1" name="AoBInterest1" value="AoBInterest1" required/> 0-3
            <input type="checkbox" class="form-control" id="AoBInterest2" name="AoBInterest2" value="AoBInterest2" required/> 3-10
            <input type="checkbox" class="form-control" id="AoBInterest3" name="AoBInterest3" value="AoBInterest3" required/> 10 and more
        </div>


        <button type="submit" class="form-button mborder float-left">Submit</button>

        <div class="form-switch float-right clear mborder">
            Already have an account? <a href="/login" >Sign In</a>
        </div>
    </form>
</div>


{{ template "footer" }}

{{ end }}