{{ define "cabinet" }}

{{ template "header" }}

<div class="grid">
    <div class="product-wrapper user-wrapper">
        <div class="product">
            <h1 class="show-product-title">{{ .Username }}</h1>
            <h2> Brand: {{ .BusinessName }}</h2>
            <h2> {{ .AgeOfBusiness }} years</h2>
            <h2> {{ .Location }} </h2>
            <h2> contact: {{ .Email }} </h2>
            <h2 class="published created-account align-center"> Created Account: {{ .CreatedAt}} </h2>
            <p class="published align-center"> Last logged at: {{ .LastLogged}} </p>
        </div>
    </div>
</div>


{{ template "footer" }}

{{ end }}